name: Auto-merge docs PRs

on:
  pull_request:
    types:
      - labeled
      - synchronize

jobs:
  automerge:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    if: contains(github.event.pull_request.labels.*.name, 'automerge')

    steps:
      - name: Auto merge
        uses: actions/github-script@v7
        with:
          script: |
            github.pulls.merge({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.payload.pull_request.number,
              merge_method: "squash"
            })
